@import url("https://fonts.googleapis.com/css?family=Neue+Machina:200,300,regular,600,700,800,900");
@import "../theme/variables.scss";
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Neue Machina", sans-serif;

}

 